$font-color-light: #ffffff;
$bg-color-darkblue: #14213d;
$bg-color-lighgray: #2b2d42;
$bg-color-yellow: #ffd166;
$bg-color-orange: #ca6702;
$bg-color-dark: #000000;

.button {
  padding: 18px 24px;

  border-radius: 24px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 600;

  transition: transform 0.5s ease-out, background-color 0.5s ease-out;

  &:hover {
    transform: translateY(-4px);
    background-color: $bg-color-dark;
    color: $font-color-light;
  }

  &:active {
    color: $font-color-light;
    background-color: $bg-color-orange;
  }
}

.back {
  background-color: $bg-color-darkblue;
  color: $font-color-light;
}

.logout {
  background-color: $bg-color-lighgray;
  color: $font-color-light;
}
.sign_up {
  background-color: $bg-color-yellow;
}
.new-game {
  background-color: $bg-color-yellow;
  color: $font-color-light;
}
.bet-button {
  padding: 10px 24px;
  border: 2px solid $bg-color-dark;

  &:hover {
    transform: translateY(0px);
    border: 2px solid $bg-color-yellow;
    background-color: $bg-color-yellow;
  }
}
.stay {
  padding: 16px 30px;
  margin: 10px;

  background-color: $bg-color-darkblue;
  color: #e2e2df;
  font-size: 22px;
  line-height: 30px;

  &:hover {
    transform: translateY(0px);
    background-color: $bg-color-yellow;
  }
}
