$primaryColor: #000000;
$secondaryColor: #343a40;
$secondaryLightColor: #6c757d;
$errorColor: #ffd166;
$infoColor: #cedbdd;
$infoLightColor: #ffffff;
$bg-color: #ff006e;
$robotTongueColor: #f9bbbb;

:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  secondaryLightColor: $secondaryLightColor;
  errorColor: $errorColor;
  infoColor: $infoColor;
  bg-color: $bg-color;
  robotTongueColor: $robotTongueColor;
}
// @import "../../ui/Colors.module.scss";
