@import "../../ui/Colors.module.scss";

.game {
  width: 100%;
  padding: 100px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block__visible {
  display: block;
}

.block__hidden {
  display: none;
}

.robot {
  display: flex;
  align-items: center;
}

.comment {
  margin-left: 40px;
  width: 250px;
  height: 120px;
  padding: 20px;

  background: $errorColor;

  position: relative;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: transform 0.5s ease-out;

  &::after {
    content: "";
    position: absolute;
    right: 98%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 18px solid $errorColor;
    border-bottom: 10px solid transparent;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.message {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;

  color: $primaryColor;
}

.result {
  font-size: 24px;
  line-height: 28px;

  color: $infoLightColor;
}
