$background: #ffffff;
$outline-color: #343a40;
$face-color: #6c757d;
$inner-bg: #cedbdd;
$tongue-color: #f9bbbb;

.cute-robot-v1 {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .circle-bg {
    background: $inner-bg;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 8px solid $outline-color;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: -2px;
      left: 0;
      border-radius: 100%;
      border-bottom: 10px solid $outline-color;
    }

    &:hover {
      .robot-face {
        top: 20px !important;
      }

      .eyes {
        top: 20px !important;
      }

      .mouth {
        background: $outline-color;
        border: none;
        clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);

        &:after {
          content: "";
          position: absolute;
          height: 60%;
          width: 60%;
          bottom: -15%;
          left: 25%;
          transform: translateX(-50%);
          background: $tongue-color;
          border-radius: 100%;
        }
      }
    }

    .robot-head {
      height: 140px;
      width: 140px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -20px;
      border: 8px solid $outline-color;
      border-radius: 96px/ 50px;
      background: $background;
      z-index: 4;
      &:after {
        content: "";
        position: absolute;
        top: -20px;
        height: 20px;
        width: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: $outline-color;
      }
      &:before {
        content: "";
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 10px;
        background: $inner-bg;
        border: 8px solid $outline-color;
        border-radius: 100%;
      }

      .robot-face {
        height: 78px;
        width: 96px;
        background: $inner-bg;
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        border: 8px solid $outline-color;
        transition: all 200ms;
        border-radius: 34px;

        .eyes {
          height: 12px;
          width: 12px;
          background: $outline-color;
          border-radius: 100%;
          position: absolute;
          transition: all 200ms;
          top: 28px;

          &.left {
            left: 18px;
          }
          &.right {
            right: 18px;
          }
        }

        .mouth {
          height: 35px;
          width: 35px;
          border-radius: 100%;
          border: 6px solid transparent;
          border-bottom-color: $outline-color;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 24px;
          overflow: hidden;
        }
      }
    }

    .robot-ear {
      position: absolute;
      height: 80px;
      width: 60px;
      border-radius: 100%;
      background: $background;
      border: 8px solid $outline-color;
      z-index: 3;
      top: 10px;

      &.left {
        left: -14px;
      }
      &.right {
        right: -14px;
      }
    }

    .robot-body {
      height: 30px;
      width: 70px;
      border: 8px solid $outline-color;
      background: $background;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 25px 25px 30px 30px;
    }
  }
}
