.sign_up {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  row-gap: 14px;
  grid-template-rows: 1fr 1fr 1fr;

  max-width: 300px;
  width: 100%;
}
