$border-color: #000000;
$bg-color: #ebebeb;
$font-color: #000000;
$bg-pink: #ff006e;
$bg-color-yellow: #ffd166;
$bg-color-dark: #000000;

.bet {
  padding: 20px;

  border-radius: 20px;
  border: 6px solid $border-color;
  background-color: $bg-color;
}

.block__visible {
  display: block;
}

.block__hidden {
  display: none;
}

.chip {
  display: inline-block;

  position: relative;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 3px solid $border-color;
  background-color: $bg-color;

  &:after {
    content: " ";

    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;

    border: 4px dashed $bg-pink;
    border-radius: 50%;

    width: 10px;
    height: 10px;
  }
}

.count {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;

  color: $font-color;
  margin-left: 10px;
}

.state {
  background-color: rgba(0, 0, 0, 0.3);

  margin: 10px 0;
  padding: 20px;
  border-radius: 20px;

  display: flex;
  align-items: center;
}

.button {
  padding: 10px 24px;
  border: 2px solid $bg-color-dark;

  &:hover {
    transform: translateY(0px);
    border: 2px solid $bg-color-yellow;
    background-color: $bg-color-yellow;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;

  color: $font-color;

  margin-bottom: 16px;
}
