$border-color: #000000;
$bg-color: rgb(235, 235, 235);
$font-color: #000000;
$bg-pink: #ff006e;

.bet {
  padding: 20px;

  border-radius: 20px;
  border: 6px solid $border-color;
  background-color: $bg-color;

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__label {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;

    color: $font-color;

    margin-bottom: 16px;
  }

  &__state {
    background-color: rgba(0, 0, 0, 0.3);

    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    align-items: center;

    &__count {
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;

      color: $font-color;
      margin-left: 10px;
    }

    &__chip {
      display: inline-block;

      position: relative;

      width: 24px;
      height: 24px;

      border-radius: 50%;
      border: 3px solid $border-color;
      background-color: $bg-color;

      &:after {
        content: " ";

        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;

        border: 4px dashed $bg-pink;
        border-radius: 50%;

        width: 10px;
        height: 10px;
      }
    }
  }
}

.block-start {
  display: block;
}
.block-start-hidden {
  display: none;
}
