$border-color: #000000;
$bg-color: rgb(235, 235, 235);
$font-color: #000000;

.bet {
  padding: 20px;
  border: 6px solid $border-color;
  background-color: $bg-color;
  border-radius: 20px;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__label {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;

    color: $font-color;

    margin-bottom: 16px;
  }

  &__state {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;

    color: $font-color;

    margin: 10px 0;
  }
}
